.btn {
    background-color: $subActive;
    border: none !important;
    cursor: pointer;
    padding: $paddingRudBtn;
    text-transform: uppercase;
    color: $whiteColorText;
    border-radius: $borderRudBtn;
    transition: $transition;

    &:hover {
        box-shadow: 0 5px 10px $shadowBtn;
    }

    &:active {
        box-shadow: 0 1px 1px $shadowBtnActive;
    }
}

.btn-outline {
    cursor: pointer;
    border: 1px solid $subActive;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    color: $active;
    border-radius: $borderRudBtn;
    transition: $transition;

    &:hover {
        color: $whiteColor;
        background-color: $subActive;
    }
}