.sub {
    display: inline-block;
    position: relative;

    sub {
        cursor: pointer;
    }

    &:hover {
        .sub__body {
            display: block;
        }
    }

    &__body {
        display: none;
        position: absolute;
        z-index: 10;
        bottom: 110%;
        transform:translateX(-50%);
        text-transform: none;
        left: 50%;
        font-size: 13px;
        line-height: 120%;
        background-color: rgba(255, 255, 255, 0.92);
        border-radius: 20px;
        padding: 16px;

        @media(min-width: 1200px) {
            width: 320px;
        }

        @media(max-width: 960px) {
            position: relative;
        }

        span {
            color: $subActive;
        }

        a {
            color: $active;
        }
    }
}