body {
    font-size: 16px;
    line-height: 140%;
    padding: 0;
    margin: 0;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-image: url('../images/main-bg.png');
    background-size: cover;

    &.hide {
        display: none;
        overflow-y: hidden;
    }

    &.no-scroll {
        overflow-y: hidden;
    }
}

* {
    box-sizing: border-box;
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 16px;
    position: relative;

    @media (max-width: 1230px) {
        width: 1024px;
    }

    @media (max-width: 1024px) {
        width: 960px;
    }

    @media (max-width: 960px) {
        width: 768px;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 10px;
    }
}