$active : #004C74;
$subActive : #7FCE00;

$subColorTitle : #FF98AA;
$subColorTitle2 : #FFA500;

$whiteColor : #fff;
$blackColor : rgb(0, 0, 0);

$bgHeader : #E1EEF3;

$shadowBtn : #004b743b;
$shadowBtnActive : #004b744b;

$whiteColorText : #fff;
$blackColorText : #252525;

$transition : 0.14s;

$colorText : #004C74;

$borderRudBtn : 50px;
$paddingRudBtn : 14px 32px;