.info {
    padding: 120px 0;
    position: relative;

    @media(max-width: 960px) {
        padding: 60px 0;
    }

    &__s-title {
        margin-bottom: 60px;

        @media(max-width: 960px) {
            margin-bottom: 40px;
        }
    }

    .swiper-wrapper {
        padding-bottom: 40px;
    }

    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet-active {
        background-color: #fff;
    }


}